@import url(estilos/fonts.css);

:root{
    --cor1:#AAF277;
    --cor2:#4CBF2C;
    --cor3:#2E8C14;
    --co03:#135908;
    --cor4:#054902;
    --fonte-titulo:"Exo 2", serif;
    --fonte-sub-titulo:"Host Grotesk", serif;
    --font-links:"Kanit", serif;
    --fonte-titulo-notebook: "Ysabeau SC", serif;
    --fonte-sub-valor:"Quicksand", serif;
    --font-valor-notebok:"Roboto Slab", serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fundos-imagens/tela-de-fundo-de-cadastro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

header{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.63);
    width: 100%;
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 3px 0px 3px 2px rgba(0, 0, 0, 0.582);
}

header > h1{
    font-family:var(--fonte-titulo);
    font-size: 3.5em;
    text-align: left;
    text-shadow: 1px 1px 0px black;
    color: #8BBB23;
    padding-left: 80px;
}

#caixa-2-cadastro{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.582);
    border: 3px solid #1fa102;
    max-width:400px;
    margin: auto;
    padding: 20px;
}

#caixa-2-cadastro > h1{
    font-family:var(--fonte-sub-valor);
    font-weight: 1000;
    font-size: 2.3em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
}

#caixa-2-cadastro > h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }

 #link-mudar-pagina-1{
    text-decoration: none;
    font-family:var(--fonte-sub-valor);
    font-weight: bold;
    font-size: 14px;
    width: 60px;
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#link-mudar-pagina-1:hover{
    color: #8BBB23;
    background-color: white;
    box-shadow: 0px 0px 0px 1px #8BBB23;
    border: 1px solid #8BBB23;
}

#link-mudar-pagina-2{
    text-decoration: none;
    font-family:var(--fonte-sub-valor);
    font-weight: bold;
    font-size: 14px;
    width: 60px;
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

#link-mudar-pagina-2:hover{
    color: #8BBB23;
    background-color: white;
    box-shadow: 0px 0px 0px 1px #8BBB23;
    border: 1px solid #8BBB23;
}

form{
    max-width: 400px;
    background-color:  #dddddd;
    border: 0.5px solid rgb(187, 187, 187);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

p{
    margin-bottom:15px;
  }

label{
    color: #000000;
    position: relative;
    letter-spacing: 1px;
    font-family: var(--font-links);
}

input {
    outline: none;
    padding: 10px;
    border-radius: 10px;
  }

input[type="submit"]{
    width: 100%;
    cursor: pointer;  
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    text-shadow: 0 1px 1px #333;
    border-radius: 5px;
    transition: all 0.2s linear;
  }

input[type="submit"]:hover{
    background: #4ab3c6;
}

::-webkit-input-placeholder{
    color: #797979; 
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
}

img{
    margin-top: -14px;
    margin-left: -15px;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    transition-duration: 0.3s;
}

img:hover{
    transform: translate(-1px, -1px);
    border-radius: 50%;
}

#paragrafo-entra-conta{
    width: 175px;
    font-weight: 600;
    font-family:var(--fonte-titulo);
    margin-top: 10px;
    margin-left: 230px;
}