@import url(estilos/fonts.css); @import url(estilos/main.css); @import url(estilos/section-notebook.css); @import url(estilos/section-notebook-2.css);  @import url(estilos/section-notebook-3.css); @import url(estilos/section-notebook-4.css); @import url(estilos/section-notebook-5.css);  @import url(estilos/sessao-notebooks-dia.css);  @import url(estilos/propaganda-e-monitores.css);

:root{
    --cor1:#AAF277;
    --cor2:#4CBF2C;
    --cor3:#2E8C14;
    --co03:#135908;
    --cor4:#054902;
    --fonte-titulo:"Exo 2", serif;
    --fonte-sub-titulo:"Host Grotesk", serif;
    --font-links:"Kanit", serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fundos-imagens/gettyimages-1178169452-640x640.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3), var(--co03), var(--cor4) );
    padding: 20px;
    min-height: 100px;
}

header > h1{
    font-family:var(--fonte-titulo);
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    font-size: 4em;
    font-weight: bolder;
    letter-spacing: 5px;
    margin-bottom: 8px;
    cursor:  context-menu;
}

header > p{
    color: #e6dadad7;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.829);
    letter-spacing: 1px;
    cursor:  context-menu;
}

nav{
    padding-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    background-color: var(--cor4);
    display: flex;
    justify-content: space-between;
    position: relative;
}

#container-links{
    display: flex;
    height: 40px;
    padding: 2px;
    margin-left: -2px;
}

#link-icone-github{
    margin-right: 13px;
}

#link-icone-face{
    margin-right: 13px;
}

#link-icone-insta{
    margin-right: 13px;
}

#container-links > a > img {
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    transition-duration: 0.5s;
}

#container-links> a{
    text-decoration: none;
    margin-top: 10px;
}

#container-links > a > img:hover{
    transform: translate(-4px, -4px);
    box-shadow: 6px 6px 15px black;
}

#container-dois-links{
    text-align: right;
    margin-right: 0px;
    display: flex;
}

#container-dois-links > a{
    text-decoration: none;
    color: rgb(238, 235, 235);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.664);
    font-family: var(--font-links);
    margin-top: 15px;
    height: 15px;
    transition-duration: 0.4s;
}

#container-dois-links > a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 0px white;
}

#link-loja{
    margin-right: 13px;
}

#link-promoções{
    margin-right: 13px;
}
