@import url(estilos/); @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+Oriya:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --cor1:#F2C12E;
    --cor2:#F2A516;
    --cor3:#F2780C;
    --co03:#F2780C;
    --cor4:#8C2C08;
    --cor5:#260606;
    --fonte-titulo:"Host Grotesk", serif;
    --fonte-sub-titulo:;
    --fonte-paragrafo:;
    --cor-de-fundo:;

}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3), var(--cor4)  );
    padding: 20px;
    width: 100%;
    min-height: 100px;
}

header > h1{
    font-family: var(--fonte-titulo);
    color: #260606;
    text-align: center;
    text-shadow: 2px 2px 10px white;
    font-size: 3.4em;
    font-weight: bolder;
    letter-spacing: 5px;
}

header > p{
    color: #260606a8;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

nav{
    padding: 10px;
    background-color: #8C2C08;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#container-links{
    display: flex;
    text-align: left;
}

#container-links > a > img {
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
}

#container-links> a{
    text-decoration: none;
    margin: 10px;
}

#container-links > a > img:hover{
    transition-duration: 0.5s;
    transform: translate(-4px, -4px);
    box-shadow: 3px 3px 15px black;
    border: ;
}
