@import url(estilos/fonts.css); 

:root{
    --cor1:#AAF277;
    --cor2:#4CBF2C;
    --cor3:#2E8C14;
    --co03:#135908;
    --cor4:#054902;
    --fonte-titulo:"Exo 2", serif;
    --fonte-sub-titulo:"Host Grotesk", serif;
    --font-links:"Kanit", serif;
    --fonte-titulo-notebook: "Ysabeau SC", serif;
    --fonte-sub-valor:"Quicksand", serif;
    --font-valor-notebok:"Roboto Slab", serif;
}

*{
    padding: 0px;
    margin: 0px;
}

.divisão-propaganda{
    width: 100%;
    height:10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-top:10px;
    background-color:#23a8234f;
}

#sessao-propaganda-0{
    background-color: #f7c33436;
    text-align: center;
}

#sessao-propaganda{
    background-color: #f7c33436;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 20px;
    padding-top:20px;
}

#propaganda-numero-um{
    background-color: #3bca1f;
    padding-top: 30px;
    padding-bottom: 1px;
    border-radius: 5px;
}

#titulo-propagando-um{
    padding-top: 5px;
    padding-left: 30px;
    font-family: var(--font-links) ;
    color: #ffffff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.582);
    text-align: left;
    font-size: 2.2em;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: -20px;
}

#sub-titulo-propaganda-um{
    color: #ffffff;
    margin-top: -7px;
    text-align: left;
    padding-left: 20px;
    font-size: 1.3em;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding-bottom: 10px;
    font-family: var(--fonte-sub-titulo);
}

.imagens-propaganda-umm{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

img{
    width: 100%;
}
